.trusted {
	margin: 39px 15px 0px;
	padding-bottom: 50px;
	border-bottom: 1px solid $color-light-grey;
	@include large {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	&_title {
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		color: $color-third;
		margin: 0;
		margin-bottom: 29px;
	}
	&_description {
		font-weight: 400;
		font-size: 24px;
		line-height: 34px;
		color: $textColor;
		margin: 0;
		margin-bottom: 32px;
		@include large {
			max-width: 750px;
		}
	}
	&_report {
		font-size: 16px;
		line-height: 24px;
		color: $textColor;
		margin: 0;
		margin-bottom: 40px;
		&_name {
			font-weight: 700;
			display: block;
		}
		&_text {
			opacity: 0.6;
			display: block;
		}
	}
	&_box {
		display: flex;
		justify-content: center;
		margin: 0;
		margin-bottom: 40px;

		&_circle {
			height: 12px;
			width: 12px;
			border-radius: 50%;
			background-color: $color-light-grey;
			margin-right: 20px;
			@include large {
				height: 8px;
				width: 8px;
			}
			&:last-child {
				margin-right: 0px;
			}
			&:hover {
				background-color: $color-third;
			}
		}
	}
	&_image {
		max-width: 100%;
		display: block;
		margin: auto;
		@include large {
			position: absolute;
			bottom: 0;
			right: 26px;
		}
	}
}
