.headline {
  width: 100%;

  @include large {
    width: $workZone-height;
    margin: auto;
    position: relative;
    padding-bottom: 176px;
  }
  &_box {
    @include small {
      padding: 0 15px;
    }
  }
  &_button {
    background-color: $color-white;
    width: 160px;
    height: 48px;
    color: $color-secondary;
    font-weight: 700;
    font-size: $fontSize - 2;
    line-height: 13px;
    border-radius: 2px;
    border: none;
    @include large {
      margin-left: 10px;
    }
    @include small {
      width: 100%;
      margin-bottom: 33px;
    }
  }
  &_image {
    width: 100%;

    @include large {
      width: 796px;
      height: 448px;
      position: absolute;
      left: 450px;
      top: 0px;
      z-index: 0;
    }
    @include small {
      padding-bottom: 36px;
    }
  }
  &_header {
    max-width: 100%;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    color: $textColor;
    margin: 0;
    margin-bottom: 24px;
    @include large {
      z-index: 1;
      width: 754px;
      margin-bottom: 34px;
      position: relative;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
    }
  }
  &_paragraph {
    font-size: 24px;
    line-height: 34px;
    color: $textColor;
    max-width: 100%;
    margin: 0;
    margin-bottom: 30px;
    @include large {
      width: 456px;
      margin-bottom: 58px;
    }
  }
}
